body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  background: #c8c8c8 url(../img/loading.gif) no-repeat center center;
}

html, body, #map {
  height: 100%;
}

div.error {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -70px;
  text-align: center;
}

.bikeshare-control-slider {
  clear: none;
  height: 53px;
  background: #fff;
  padding: 0 9px;
}

#selected-time {
  font-size: 23px;
  font-weight: bold;
  line-height: 53px;
  width: 94px;
  margin-right: 9px;
  float: left;
}

#time-slider {
  margin-top: 20px;
}